h1{
    background-color: lightblue;
    color: black;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.container{
    display: flex;
    min-height: 900px;
    background-image: url("https://www.bing.com/th?id=OIP.SWAmM6XrxyRr7trAndKDewHaFj&w=150&h=113&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    text-align: center;
    font-size: 40px;
    font-family: 'segoe UI',;
}

.container .list{
    flex: 3;
}

.container .list h3{
    color: white;
    text-decoration: underline;
}

.container .info-table{
    flex: 1;
    background-color: lightblue;
    font-family: "segoe ui";
}

.my-control {
    margin-bottom: 10px;
}

.my-control label {
    margin-left: 0;
    display: block;
       
}

.my-control input, .mycontrol textarea, .my-control select{
    padding: 3px 5px;
    width: 70%;
}

.my-icon{
    color: red;
    font-size: 24px;
    cursor: pointer;
}

.my.icon.fas {
    color: green;
}

.task{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px 10px;
}

#taskList{
    display: flex;
    display: block;
}

#taskList .name{
    flex: 1;
    border: 1px dotted black;
}

#taskList .date{
    flex: 1;
    border: 1px dotted black;
    width: 100%;
}

#taskList .extra{
    flex: 1;

}

